*{
  padding: 0px; 
  margin: 0px; 
  box-sizing: border-box;
  }

#kenkenFacts{
display:flex;
justify-content: center;
background-color: #8AC4FF;
font-family: 'Courier New', Courier, monospace
}

#listFacts{
padding: 25px;
display:flex;
justify-content: center;
background-color: #8DE4FF;
font-family: 'Courier New', Courier, monospace;
}

#listFacts ul{
    column-count: 2
}

.carousel-container{
    width: 500px; 
    margin: auto; 
    overflow: hidden; 
    position: relative; 
    border:  6px solid black;
  
}
.background{
background-color:#d9d9d9;
padding: 25px;

}
.carousel-slide img{
  height: 100%; 
  width: 100%; 
}

.carousel-slide{
    display: flex;
    width: 100%;
    height: 500px;

}

.fanclub{
  display: flex; 
  justify-content: center;
  background-color: #8DE4FF;
}

#footer{
    display: flex; 
    background-color: #8AC4FF;
    padding: 50px;      
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 50px; 
}
