*{
  padding: 0px; 
  margin: 0px; 
  box-sizing: border-box;
  }

#kenkenFacts{
display:flex;
justify-content: center;
background-color:powderblue;
font-family: 'Courier New', Courier, monospace
}

#listFacts{
padding: 50px;
display:flex;
justify-content: center;
background-color:powderblue;
font-family: 'Courier New', Courier, monospace;
}

#listFacts ul{
    column-count: 2
}

.carousel-container{
    width: 500px; 
    margin: auto; 
    overflow: hidden; 
    position: relative; 
    border:  6px solid black;
}

.carousel-slide img{
  height: 100%; 
  width: 100%; 
}

.carousel-slide{
    display: flex;
    width: 100%;
    height: 500px;
}

#footer{
    display: flex; 
    background-color: powderblue;
    padding: 50px;      
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}
